      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <%= image_tag current_user.gravatar_url(size: 160), class: "img-circle elevation-2", alt: "User Image" %>
        </div>
        <div class="info">
          <a href="#" class="d-block"><%= current_user.fullname %></a>
        </div>
      </div>
