<div class="card card-info">
  <div class="card-header">
    <h3 class="card-title">Pengembalian Dana</h3>
  </div>
  <div class="card-body">
  <%= form_for_filterrific @filterrific, data: {"turbo-frame": "refunds-list", "controller": "filter"} do |f| %>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Urutkan</label>
          <%= f.select :sorted_by, @filterrific.select_options[:sorted_by],
                       { },
                       { class:'form-control', data: {"filter-target": "filterParams", action: "change->filter#submit" } }
          %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Status Pengembalian</label>
          <%= f.select :already_paid, @filterrific.select_options[:already_paid],
                       { },
                       { class: 'form-control', data: {"filter-target": "datePicker", action: "change->filter#submit" } }
          %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
