<div class="card card-primary">
  <div class="card-body">
  <%= form_for_filterrific @filterrific, data: {"turbo-frame": "refunds-list", "controller": "filter", "action": "change->filter#submit", "filter-target": "filterParams"} do |f| %>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Urutkan</label>
          <%= f.select :sorted_by, @filterrific.select_options[:sorted_by],
                       { },
                       { :class => 'form-control' }
          %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
        <label>Text</label>
          <input type="text" class="form-control" placeholder="Enter ...">
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
