  <div class="alert-overlay">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">Mengedit Data Pendaftaran</h4>
      Mengedit data pendaftaran atas nama <strong><%= admission.name %></strong>.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
