<% if flash.any? %>
  <% flash.each do |key, message| -%>
    <% map_keys = { notice: "success", alert: "danger", error: "danger", warning: "warning" } %>
    <% context = map_keys[key.to_sym] || "info" %>
    <% if message.is_a? Array %>
      <% message.each do |msg| %>
        <span data-controller="flash" data-flash-type="<%= context %>" data-flash-message="<%= msg %>"></span>
      <% end %>
    <% else %>
      <span data-controller="flash" data-flash-type="<%= context %>" data-flash-message="<%= message %>"></span>
    <% end %>
  <% end %>
<% end %>
